<div class="angular-apps page-margin flex">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Calculator</mat-card-title>
            <mat-card-subtitle>Add, subtract, multiply, and divide!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content"> 
            <app-calculator></app-calculator>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button color="primary">SAVE</button>
            <button mat-button color="accent">SHARE</button> -->
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>To Do List</mat-card-title>
            <mat-card-subtitle>Add or remove items to your to do list!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content"> 
            
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button color="primary">SAVE</button>
            <button mat-button color="accent">SHARE</button> -->
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Chat</mat-card-title>
            <mat-card-subtitle>Simple Chatbot that uses Amazon Lex</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content"> 
            
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button color="primary">SAVE</button>
            <button mat-button color="accent">SHARE</button> -->
        </mat-card-actions>
    </mat-card>
</div>