<div class='chatbot' #scroll>
    <ng-container *ngIf="messages.length > 1">
        <div class="flex message" [ngClass]="{'align-right': even}" 
        *ngFor="let message of messages; let last = last; let even = even;">
            {{message.content}}
        </div>
    </ng-container>
</div>
<div class="flex input">
    <input (keyup.enter)="postLexText(userInput.value); userInput.value=''" #userInput>
    <button title="Post Lex Text Button" (click)="postLexText(userInput.value)"> Send </button>
</div>