.chatbot 
    height: 20em
    border: black 2px solid
    border-radius: 4px
    overflow-y: hidden

.align-right
    justify-content: flex-end

.message
    padding: 10px

.input
    height: 2em
    margin-top: 10px
    justify-content: center