
<div style="background-color: black;">
  <nav>
    <span><a routerLink="/" routerLinkActive="active"> BIO</a></span>
    <span><a routerLink="/resume" routerLinkActive="active"> RESUME</a></span>
    <span><a routerLink="/angular" routerLinkActive="active"> ANGULAR</a></span>
    <span><a routerLink="/jamz" routerLinkActive="active"> JAMZ</a></span>
  </nav>
  <img src="../assets/images/nav-dark.png" alt="angel dixon background" style="display: block; width: 80%; margin: auto;">
  <router-outlet></router-outlet>
  <footer></footer>
</div>
