.bio 
    width: 80%
    margin: auto
    align-items: flex-end
    justify-content: center

.bio img
    width: 15em
    margin: 7px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    &:hover
        filter: grayscale(100%)
        
.bio h2 
    margin: unset

.bio-text 
    color: black
    width: 50%
    margin: 7px

.background
    background-color: #d9d9d9

.grayscale 
    filter: unset

.margin-top
    margin-top: 15px